// mixins for button
@import "../../../../styles/mixins";
// variabled for color
@import "../../../../styles/variabled";

.ForgotPasswordBox {
  padding: 100px 130px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .title {
    /* Forgot Password? */
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: $purple;
  }
  /* It's okay, these......*/
  .subTitle {
    width: 542px;
    height: 81px;
    font-weight: 600;
    font-size: 20px;
    color: $gray;
    align-self: stretch;
  }
  .emailForm .emailLabel {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $black;
    .emailInput {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 10px;
      width: 542px;
      height: 51px;
      background: #ffffff;
      border: 1px solid #e2e2e2;
      border-radius: 4px;
      font-weight: 400;
      font-size: 14px;
    }
    .validationWarningBox {
      color: $red;
      font-weight: 400;
      font-size: 14px;
      display: flex;
      height: 15px;
      .validationWarning {
        padding-right: 5px;
      }
    }
  }

  .submitButtonBox {
    display: flex;
    justify-content: center;
    .submitButton {
      @include button;
      background: $purple;
      &:disabled {
        background: $grey;
        cursor: auto;
      }
    }
  }
}
