// mixins for button
@import "../../../../../styles/mixins";
// variabled for color
@import "../../../../../styles/variabled";

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 12px;
  background: $voidWhite;
  border-radius: 10px 0px 0px 10px;
  .dragDropContent {
    display: flex;
    background-color: red;
    position: relative;
    width: 480px;
    height: 320px;
    background: #f7f7f7;
    border: 1px dashed $occasionalPurple;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    .centerContent {
      display: flex;
      flex-direction: column;
      .iconBox {
        display: flex;
        justify-content: center;
      }
      .text {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #6e20be;
      }
    }
    .representingImage {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      object-fit: contain;
    }
    .xIconBox {
      position: absolute;
      width: 100%;
      height: 100%;
      padding-left: 910px;
      padding-top: 20px;
    }
  }
  .hidingContent {
    display: none;
  }
  .images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .imageBox {
      display: flex;
      .image {
        width: 102px;
        height: 102px;
        border-radius: 6px;
        object-fit: contain;
      }
      .xIconBox {
        display: flex;
        position: absolute;
        padding-left: 85px;
        padding-top: 7px;
      }
    }

    .emptyBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 102px;
      height: 102px;
      border: 1px dashed $occasionalPurple;
      border-radius: 6px;
    }
  }
}
