.codeInputs {
  display: flex;
  justify-content: start;
  align-items: center;
  .codeInputBox {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    text-align: center;
    height: 21px;
    .codeInput {
      border: none;
      display: inline-block;
      width: 12px;
      font-size: 14px;
      line-height: 19px;
    }
    &:focus {
      outline: none;
    }
  }
}
