// mixins for button
@import "../../../styles/mixins";
// variabled for color
@import "../../../styles/variabled";

.loginBox {
  padding: 100px 130px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .loginTitle {
    /* Welcome back! */
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: $occasionalPurple;
  }
  .loginForm .emailLabel,
  .loginForm .passwordLabel {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $titleGray;
    .passwordInputBox {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .eyeIcon {
        padding-right: 10px;
        position: absolute;
        display: flex;
        cursor: pointer;
      }
    }
    .emailInput,
    .passwordInputBox .passwordInput {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 10px;
      width: 542px;
      height: 51px;
      background: #ffffff;
      border: 1px solid #e2e2e2;
      border-radius: 4px;
      font-weight: 400;
      font-size: 14px;
    }
    .validationWarning {
      color: $mistakeRed;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .forgotPasswordBox {
    display: flex;
    .forgotPassword {
      font-weight: 600;
      font-size: 14px;
      color: $warningYellow;
      margin-left: auto;
      cursor: pointer;
    }
  }
  .loginButtonBox {
    display: flex;
    justify-content: center;
    .loginButton {
      @include button;
      background: $warningYellow;
      &:disabled {
        background: $disabledGray;
        cursor: auto;
      }
    }
  }
}
