// mixins for button
@import "../../../../../styles/mixins";
// variabled for color
@import "../../../../../styles/variabled";

.contentBox {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  width: 692px;
  background: $lightGrey;
  border-radius: 0px 10px 10px 0px;
  .label {
    font-weight: 600;
    font-size: 16px;
    color: $black;
    .input,
    textArea {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 10px;
      width: 100%;
      height: 51px;
      background-color: $white;
      border: 1px solid $lightGray;
      border-radius: 4px;
      font-weight: 400;
      font-size: 14px;
    }
    .textArea {
      height: 89px;
    }
    .validationWarningBox {
      color: $red;
      font-weight: 400;
      font-size: 14px;
      display: flex;
      height: 15px;
      .validationWarning {
        padding-right: 5px;
      }
    }
  }
  .dividedContentBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    .halfContentBox {
      width: calc(50% - 5px);
    }
  }
  .postYourOfferButtonBox,
  .confirmSoldButtonBox,
  .cancelListingButtonBox {
    flex: 1;
    display: flex;
    justify-content: start;
    .postYourOfferButton {
      @include button;
      background: $yellow;
      width: 100%;
      &:disabled {
        background: $grey;
        cursor: auto;
      }
    }
    .confirmSoldButton {
      @include button;
      width: 100%;
      background: $purple;
      color: $white;
    }
    .cancelListingButton {
      @include button;
      border: 1px solid $darkGrey;
      width: 100%;
      background: $white;
      color: $darkGrey;
    }
  }
  .modalBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 25px;
    gap: 16px;
    width: 335px;
    height: 169px;
    background: #ffffff;
    border-radius: 20px;
    top: calc(50% - 167.5px);
    left: calc(50% - 84.5px);
    border: solid 1px $darkGrey;
    .modalTitle {
      font-weight: 700;
      font-size: 16px;
      color: $black;
    }
    .content {
      font-weight: 400;
      font-size: 14px;
      color: $black;
    }
    .buttonsBox {
      display: flex;
      justify-content: flex-end;
      .buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        .cancelButtonBox,
        .yesButtonBox {
          flex: 1;
          display: flex;
          justify-content: start;
          .cancelButton {
            @include button;
            background: $white;
            color: #969696;
            width: 100%;
            height: 37px;
            border: 1px solid #969696;
            border-radius: 100px;
            padding: 10px 29px;
            &:hover {
              background: $grey;
              cursor: pointer;
            }
          }
          .yesButton {
            @include button;
            width: 100%;
            height: 37px;
            background: #6318af;
            border-radius: 100px;
            padding: 10px 29px;
            &:hover {
              background: $hoverPurple;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
