// mixins for button
@import "../../styles/mixins";
// variabled for color
@import "../../styles/variabled";

.itemBox {
  max-width: 806px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  background-color: $voidWhite;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    background-color: $verySubtleGray;
  }
  img {
    width: 391px;
    height: 200px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
  }
  .contentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 10px;
    .date {
      font-weight: 300;
      font-size: 12px;
      color: #4d4d4d;
    }
    .itemTitle {
      max-width: 245px;
      font-weight: 400;
      font-size: 16px;
      color: $textGray;
    }
    .itemPrice {
      font-weight: 600;
      font-size: 16px;
      color: $occasionalPurple;
    }
    .tagBox {
      display: flex;
      position: absolute;
      padding-left: 240px;
      padding-bottom: 135px;
      .tag {
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-weight: 600;
        font-size: 14px;
        color: #1fc81b;
        width: 129px;
        height: 29px;
        background: #cdf9cc;
        border-radius: 4px;
        display: flex;
      }
    }
  }
}
