// mixins for mainBox
@import "../../../../styles/mixins";
// variabled for color
@import "../../../../styles/variabled";

.mainBox {
  @include mainBox;
  background-color: $verySubtleGray;
  .half {
    justify-content: space-between;
    display: flex;
  }
  .banner {
    height: 546px;
    background-image: url("../../../../assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
