$lightPurple: #9349de;
$mediumestPurple: #6e20be;
$darkestPurple: #560f9f;
$occasionalPurple: #6318af;
$hoverPurple: #843eca;
$goodGreen: #6cc04b;
$subtleGray: #e2e2e2;
$textGray: #4d4d4d;
$disabledGray: #d9d9d9;
$grayButtonGray: #969696;
$textGray40: #4d4d4d;
$titleGray: #313131;
$verySubtleGray: #f7f7f7;
$voidWhite: #ffffff;
$mistakeRed: #ff2c2c;
$warningYellow: #ffba00;
$hoverYellow: #fdca40;
$voidBlack: #000000;

$lightGray: #e5e5e5;
// export makes to use in js
:export {
  darkestPurple: $darkestPurple;
  lightPurple: $lightPurple;
  occasionalPurple: $occasionalPurple;
  hoverPurple: $hoverPurple;
  goodGreen: $goodGreen;
  subtleGray: $subtleGray;
  textGray: $textGray;
  disabledGray: $disabledGray;
  grayButtonGray: $grayButtonGray;
  textGray40: $textGray40;
  verySubtleGray: $verySubtleGray;
  titleGray: $titleGray;
  voidWhite: $voidWhite;
  mistakeRed: $mistakeRed;
  warningYellow: $warningYellow;
  hoverYellow: $hoverYellow;

  voidBlack: $voidBlack;
  lightGray: $lightGray;
}
