$lightPurple: #9349de;
$purple: #6318af;
$hoverPurple: #843eca;
$yellow: #ffba00;
$hoverYellow: #fdca40;
$white: #ffffff;
$red: #ff2c2c;
$black: #313131;
$grey: #d9d9d9;
$gray: #4d4d4d;
$lightGrey: #f7f7f7;
$lightGray: #e2e2e2;
$green: #6cc04b;
// export makes to use in js
:export {
  lightPurple: $lightPurple;
  purple: $purple;
  hoverPurple: $hoverPurple;
  yellow: $yellow;
  hoverYellow: $hoverYellow;
  white: $white;
  red: $red;
  black: $black;
  grey: $grey;
  gray: $gray;
  lightGrey: $lightGrey;
  lightGray: $lightGray;
  green: $green;
}
