// mixins for button
@import "../../../../styles/mixins";
// variabled for color
@import "../../../../styles/variabled";

.contentBox {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 21px;
  width: 532px;
  // height: 548px;
  background: $voidWhite;
  border-radius: 10px;
  .contentTitle {
    font-weight: 700;
    font-size: 40px;
    color: $occasionalPurple;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 21px;
    .label {
      font-weight: 600;
      color: $titleGray;
      .input,
      .textArea {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 10px;
        width: 100%;
        background: $voidWhite;
        border: 1px solid $subtleGray;
        border-radius: 4px;
        font-weight: 400;
        font-size: 14px;
      }
      .textArea {
        height: 141px;
      }
      .validationWarningBox {
        color: $mistakeRed;
        font-weight: 400;
        font-size: 14px;
        display: flex;
        height: 0px;
        .validationWarning {
          padding-right: 5px;
        }
      }
    }
  }

  .buttonBox {
    display: flex;
    justify-content: center;
    .button {
      @include button;
      background: $occasionalPurple;
      width: 100%;
      height: 51px;
      &:disabled {
        background: $disabledGray;
        cursor: auto;
      }
    }
  }
}
