// mixins for button
@import "../../../../styles/mixins";
// variabled for color
@import "../../../../styles/variabled";

.resetPasswordVerificationBox {
  padding: 100px 130px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .title {
    /* Reset Password? */
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: $occasionalPurple;
  }
  /* Please check your ...*/
  .subTitle {
    width: 542px;
    font-weight: 600;
    font-size: 20px;
    color: $textGray;
    align-self: stretch;
  }
  .buttonBox {
    display: flex;
    justify-content: center;
    .button {
      @include button;
      background: $occasionalPurple;
      &:disabled {
        background: $disabledGray;
        cursor: auto;
      }
    }
  }
}
