.modalBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .modalContent {
    min-width: 800px;
    min-height: 600px;
    background-color: white;
    border-radius: 10px;
    .modalButtons {
      position: relative;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      top: 30px;
      .modalBackButton {
        position: relative;
        margin-right: auto;
        left: 20px;
        cursor: pointer;
      }
      .modalCloseButton {
        position: relative;
        margin-left: auto;
        right: 20px;
        cursor: pointer;
      }
    }
  }
}
