// mixins for button
@import "../../../../styles/mixins";
// variabled for color
@import "../../../../styles/variabled";

.changePasswordBox {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: $voidWhite;
  max-width: 584px;
  border-radius: 10px;
  .title {
    /* change Password */
    font-weight: 700;
    font-size: 36px;
    text-align: start;
    color: $lightPurple;
  }
  /* The password must have at least...*/
  .subTitle {
    width: 584px;
    height: 54px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: $textGray;
  }
  .changePasswordForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .changePasswordForm .passwordLabel {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $titleGray;
    .passwordInputBox {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .eyeIcon {
        padding-right: 10px;
        position: absolute;
        display: flex;
        cursor: pointer;
      }
    }

    .passwordInputBox .passwordInput {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 10px;
      width: 100%;
      height: 51px;
      background: #ffffff;
      border: 1px solid #e2e2e2;
      border-radius: 4px;
      font-weight: 400;
      font-size: 14px;
    }
    .passwordMatchWarningBox {
      color: $mistakeRed;
      font-weight: 400;
      font-size: 14px;
      display: flex;
      height: 15px;
      .passwordMatchverificationWarning {
        padding-right: 5px;
      }
    }
  }
  .validationBox {
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .validation {
      padding: 5px;
      display: flex;
      text-align: center;
      .checkIcon {
        padding-right: 10px;
      }
    }
  }
  .checkBox {
    padding: 5px;
    display: flex;
    text-align: center;
    .checkBoxIcon {
      padding-right: 10px;
    }
    .text {
      font-size: 14px;
      font-weight: 400;
      color: $textGray;
      padding: 0px;
      .hilightText {
        color: $lightPurple;
      }
    }
  }
  .submitButtonBox {
    display: flex;
    justify-content: center;
    .submitButton {
      @include button;
      width: 100%;
      background: $occasionalPurple;
      &:disabled {
        background: $disabledGray;
        cursor: auto;
      }
    }
  }
}
