// mixins for button
@import "../../styles/mixins";
// variabled for color
@import "../../styles/variabled";

.headerMainBox {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  background-color: $darkestPurple;
  .headerContentBox {
    padding: 20px 60px;
    background-color: $purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: 52px;
      color: white;
      width: 234.88px;
      font-weight: 600;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      .buttonBox {
        padding: 10px;
        display: flex;
        .button {
          gap: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include button;
          width: 155px;
          height: 50px;
          background: $yellow;
          &:disabled {
            background: $hoverYellow;
            cursor: auto;
          }
        }
      }
    }
  }
}
