// mixins for button
@import "../../../styles/mixins";
// variabled for color
@import "../../../styles/variabled";

.wholeBox {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .topBoxImage {
    background-size: contain;
    height: 400px;
    background-repeat: no-repeat;
    background-image: url("../../../assets/background/backgroundTop.png");
  }
  .bottomBox {
    height: 100%;
    .buttonBox {
      position: relative;
      justify-content: center;
      align-self: center;
      display: flex;
      flex-wrap: wrap;
      top: 30px;
      .backButton {
        position: relative;
        margin-right: auto;
        left: 140px;
        top: 80px;
        cursor: pointer;
      }
    }
    .contentBox {
      height: 600px;
      padding: 60px 238px 140px 232px;
      overflow-y: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .content {
        display: flex;
        flex-direction: column;

        .title {
          font-weight: 700;
          font-size: 36px;
          line-height: 49px;
          text-align: center;
        }
        .description {
          font-weight: 600;
          font-size: 20px;
          line-height: 27px;
        }
      }
      .buttonBox {
        padding: 10px;
        display: flex;
        justify-content: center;
        padding-top: 32px;
        .button {
          @include button;
          background: $purple;
          &:disabled {
            background: $grey;
            cursor: auto;
          }
        }
      }
    }
  }
}
