// mixins for button
@import "../../../../styles/mixins";
// variabled for color
@import "../../../../styles/variabled";

.resetPasswordCompleteBox {
  padding: 100px 130px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .title {
    /* Reset Password? */
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: $occasionalPurple;
  }
  /* It's okay, these......*/
  .subTitle {
    width: 542px;
    height: 81px;
    font-weight: 600;
    font-size: 20px;
    color: $textGray;
    align-self: stretch;
  }
  .resetPasswordForm .passwordLabel {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $titleGray;
    .passwordInputBox {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .eyeIcon {
        padding-right: 10px;
        position: absolute;
        display: flex;
        cursor: pointer;
      }
    }
    .passwordInputBox .passwordInput {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 10px;
      width: 542px;
      height: 51px;
      background: #ffffff;
      border: 1px solid #e2e2e2;
      border-radius: 4px;
      font-weight: 400;
      font-size: 14px;
    }
    .passwordMatchWarningBox {
      color: $mistakeRed;
      font-weight: 400;
      font-size: 14px;
      display: flex;
      height: 15px;
      .passwordMatchverificationWarning {
        padding-right: 5px;
      }
    }
  }
  .validationBox {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .validation {
      padding: 5px;
      display: flex;
      text-align: center;
      .checkIcon {
        padding-right: 10px;
      }
    }
  }
  .submitButtonBox {
    display: flex;
    justify-content: center;
    .submitButton {
      @include button;
      background: $occasionalPurple;
      &:disabled {
        background: $disabledGray;
        cursor: auto;
      }
    }
  }
}
